#components-input-popup {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
}

#components-input-popup::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.components-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-input-popup p {
    margin: 0;
    text-align: center;
}

#components-input-popup button {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}


#components-input-popup button:hover {
    background-color: #3b6ea2;
}

#components-input-popup button:active {
    background-color: #6b9ed2;
}

#components-input-popup[data-mode="acknowledge"] {
    border-top: 4px solid #d34848;
}

#components-input-popup[data-mode="acknowledge"] #components-acknowledge-button {
    background-color: #d34848;
}

#components-input-popup[data-mode="acknowledge"] #components-acknowledge-button:hover {
    background-color: #9c3434;
}


#components-input-popup:not([data-mode="acknowledge"]) #components-acknowledge-button {
    display: none;
}

#components-input-popup[data-mode="acknowledge"] #components-accept-button,
#components-input-popup[data-mode="acknowledge"] #components-cancel-button {
    display: none;
}
