.model-picker-option {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    flex-grow: 1;
}

.model-picker-option-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}